**Q1. How do you comment code in Python? What are the different types of comments?**

**Ans:** Comments  are ignored by the Python interpreter, we can add comments to our code to provide explanations, notes, or documentation.
To comment a code in python we have two primary ways.

1.   **Single line Comments**: When we have to add short explanation or notes, then we use these comments.
To create a single-line comment, we use the hash symbol (#) followed by our comment. Everything after the hash symbol on the same line is considered a comment and is not executed.

2.   **Multi-line comments or docstrings:**  Multi-line comments are typically created using triple-quotes (single or double) and are often referred to as docstrings. These are also two types. When we use it for single line of code then it is called Single-line docstrings, and when used for multiline line code then it is called Multi-line docstrings.

In [ ]:
# single line comment
"""This is a single-line docstring."""

    """
    This is a multi-line docstring.

    It can contain detailed information about the function.
    """

**Q2. What are variables in Python? How do you declare and assign values to variables?**

**Ans:** In Python, variables are used to store and manage data. A variable is essentially a name or identifier that represents a location in memory where a value can be stored.

1.  **Variable Declaration:** To declare a variable in Python, we can simply assign a value  to a variable, and Python will create the variable.

2.    **Variable Assignment:** To assign a value to a variable, we use the equal sign (=) operator.

In [2]:
# Variable Declaration
variable_name = value

# Variable Assignment
x = 10  # Assign the integer 10 to the variable x
name = "Sweety"  # Assign the string "Alice" to the variable name
my_list = [1, 2, 3]  # Assign a list to the variable my_list

**Q3. How do you convert one data type to another in Python?**

**Ans:** We can convert one data type to another in Python using type casting or conversion functions. Here are some common data type conversions:

In [3]:
# Integer to string

num = 23
str_num =str(num)

In [4]:
# String to Integer

str_num = "23"
num = int(str_num)

In [5]:
# Float to Integer:

float_num = 3.14
int_num = int(float_num)

In [11]:
# Integer to Float:
int_num = 42
float_num = float(int_num)
float_num

42.0

In [10]:
# String to List (using split):

text = "apple orange banana"
word_list = text.split()
word_list

['apple', 'orange', 'banana']

In [12]:
# List to String (using join):

word_list = ["apple", "orange", "banana"]
text = " ".join(word_list)
text

'apple orange banana'

**Q4. How do you write and execute a Python script from the command line?**

**Ans:** These are the steps to write and execute a Python script from the command line,

1.   **Create a Python Script:** We Use a text editor to create a Python script with a .py extension. For example, we can create a file named my_script.py.

2.   **Write Your Python Code:** Open the script file and we can write our Python code inside it.

3.   **Open the Command Line or Terminal:** Open a command prompt or terminal window.
4.   **Navigate to the Script's Directory:** We use the cd (change directory) command to navigate to the directory where our Python script is located.

5.   **Execute the Script:** To execute the script, use the python command followed by the script's filename.


6. **View the Output:** If your script produces any output (e.g., print statements), it will be displayed in the command line or terminal.

**Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].**

In [25]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

**Q6. What is a complex number in mathematics, and how is it represented in Python?**

**Ans:** In **mathematics**, a complex number is a number of the form **a + bi**, where **a** and **b** are real numbers, and **i** represents the imaginary unit (i.e., the square root of -1). Complex numbers consist of both a **real part (a)** and an **imaginary part (bi).**

**In Python**, complex numbers are represented using the **j **suffix to denote the imaginary part.

In [13]:
# For example:
z1 = 3 + 2j  # 3 is the real part, 2j is the imaginary part

**Q7. What is the correct way to declare a variable named age and assign the value 25 to it?**

In [ ]:
age = 25  # This line of code declares a variable named age and assigns it the integer value 25.

**Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?**

In [14]:
price = 9.99
type(price)    # The variable 'price' belongs to the data type "float" because it stores a floating-point (decimal) number.

float

**Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?**

In [15]:
name = "Ram Kali Kushwaha"
print(name)

Ram Kali Kushwaha

**Q10. Given the string "Hello, World!", extract the substring "World".**

In [21]:
string = "Hello, World"
len(string)

12

In [22]:
substring = string[7:12]   # In Python, string indexing starts at 0, so "W" is at index 7, and "d" is at index 11. The slice [7:12] includes characters from index 7 up to (but not including) index 12, giving the substring "World."
print(substring)

World

**Q11. To create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student.**

In [23]:
is_student = True  # Set to True because I'm a student.